<html>
    <body>
        <h1>Message</h1>
        <form method="POST" action="/new">
            <label for ="username">Username</label>
            <input type="text" id="username" required>

            <label for ="message">message</label>
            <input type="text" id="message" required>

            <button>submit</button>
        </form>
    </body>
</html>