<html>
    <body>
        <h1>Message</h1>
        <form method="POST" action="/new">
            <label for ="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for ="messageText">message</label>
            <input type="text" id="messageText" name="messageText"required>

            <button type="submit">submit</button>
        </form>
    </body>
</html>