<html>
    <link rel="stylesheet" href="/form.css">
    <body>
        
        <form method="POST" action="/new">
            <label for ="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for ="messageText">message</label>
            <textarea id="messageText" name="messageText"></textarea>

            <button type="submit">submit</button>
        </form>
    </body>
</html>