*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    margin-bottom: 1px;
}
#messageBoard{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 24rem;
}
#messageCard{
    padding: 10px;
    border: 2px solid black;
}
.link-btn{
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}